<header>
  <span>2022 World Cup Bracket</span>
</header>

<main>
<div class="instructions">Drag and drop each country's name from the beginning, to how you think they'll finish in the group
stage, to the round of 16 all of the way to who you predict will win the final.</div>
  <div class="cards">
    <div class="card">Beginning</div>
    <div class="card">Final Group</div>
    <div class="card">Round of 16</div>
    <div class="card">Round of 8</div>
    <div class="card">Round of 4</div>
    <div class="card">Final</div>
    <div class="card">Champion</div>

    <div class="card">1</div>
    <div class="card">2</div>
    <div class="card">3</div>
    <div class="card">FOUR</div>
    <div class="card">FIVE</div>
    <div class="card">SIX</div>
    <div class="card">SEVEN</div>
    <div class="card">EIGHT</div>
    <div class="card">NINE</div>
    <div class="card">TEN</div>
    <div class="card">ELEVEN</div>
    <div class="card">TWELVE</div>
    <div class="card">13</div>
    <div class="card">14</div>
    <div class="card">15</div>
    <div class="card">16</div>
    <div class="card">17</div>
    <div class="card">18</div>
    <div class="card">19</div>
    <div class="card">20</div>
    <div class="card">21</div>
    <div class="card">22</div>
    <div class="card">23</div>
    <div class="card">24</div>

    <div class="card">25</div>
    <div class="card">26</div>
    <div class="card">27</div>
    <div class="card">28</div>
    <div class="card">29</div>
    <div class="card">30</div>
    <div class="card">31</div>
    <div class="card">32</div>
    <div class="card">33</div>
    <div class="card">34</div>
    <div class="card">35</div>
    <div class="card">36</div>

    <div class="card">37</div>
    <div class="card">38</div>
    <div class="card">39</div>
    <div class="card">40</div>
    <div class="card">41</div>
    <div class="card">42</div>
    <div class="card">43</div>
    <div class="card">44</div>
    <div class="card">45</div>
    <div class="card">46</div>
    <div class="card">47</div>
    <div class="card">48</div>

    <div class="card">49</div>
    <div class="card">50</div>
    <div class="card">51</div>
    <div class="card">52</div>
    <div class="card">53</div>
    <div class="card">54</div>
    <div class="card">55</div>
    <div class="card">56</div>
  </div>

</main>

<footer>

</footer>

<router-outlet></router-outlet>
